#footer {
  background: black;
}
#footer .sns_bar {
  display: flex;
  justify-content: center;
  border-top: #888888 2px solid;
}
#footer .sns_bar .sns_area {
  width: 200px;
  padding: 20px 0;
  display: flex;
  justify-content: space-between;
}
#footer .sns_bar .sns_area .sns_btn {
}
#footer .notes_bar {
  display: flex;
  justify-content: center;
  border-top: gray 1px solid;
}
#footer .notes_bar .notes_area {
  width: 350px;
  padding: 8px 0;
  display: flex;
  justify-content: space-between;
}
#footer .notes_bar .notes_area .notes_text {
}
#footer .information_bar {
  padding: 20px 0;
  display: flex;
  justify-content: center;
  border-top: gray 1px solid;
}
#footer .information_bar .disney_text {
}

@media(max-width:1270px){
  #footer {
  }
  #footer .sns_bar {
  }
  #footer .sns_bar .sns_area {
  }
  #footer .sns_bar .sns_area .sns_btn {
  }
  #footer .notes_bar {
  }
  #footer .notes_bar .notes_area {
  }
  #footer .notes_bar .notes_area .notes_text {
  }
  #footer .information_bar {
  }
  #footer .information_bar .disney_text {
  }
}

@media(max-width:650px){
  #footer {
  }
  #footer .sns_bar {
  }
  #footer .sns_bar .sns_area {
    width: 120px;
  }
  #footer .sns_bar .sns_area .sns_btn {
  }
  #footer .sns_bar .sns_area .sns_btn:first-child {
    display: none;
  }
  #footer .notes_bar {
  }
  #footer .notes_bar .notes_area {
  }
  #footer .notes_bar .notes_area .notes_text {
  }
  #footer .information_bar {
  }
  #footer .information_bar .disney_text {
    text-align: center;
  }
}